/* Color Palette:
    #f7f0f5
    #d8973c
    #348aa7
    #313638
    #c75000
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #313638;
    line-height: 1.6;
}
/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-around;
    background-color: #d8973c;
    align-items: center;
}

nav .logo {
    color: #313638;
    letter-spacing: 2px;
}

.navigation-links li a{
    color: #313638;
    font-size: 14px;
    font-weight: bold;
}

#home {
    border-bottom: 2px solid #348aa7;
}

.navigation-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 8vh;
    align-items: center;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: #313638;
    margin: 5px;
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navigation-links {
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navigation-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 9vh;
        width: 100%;
        background-color: #313638;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
    }
    .navigation-links li {
        padding: 5px 0 5px 0;
    }
    .navigation-links li a {
        color: #d8973c;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translate(0%);
}