/*Color Palette
    #b5ba72
    #931621
    #4f5d75
    #7261a3
    #d56aa0
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    min-height: 100vh;
    align-items: center;
    font-family: 'Poppins',sans-serif;
}
.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
}

.dateAndTimeDisplay {
    margin-left: 2em;
}
h1,p {
    color: #fff;
}
h1 {
    font-size: 80px;
}
p {
    font-size: 50px;
}
.clock {
    width: 30rem;
    height: 30rem;
    border: 15px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

.clock .hour-hand,
.clock .minute-hand,
.clock .second-hand{
    width: 50%;
    position: absolute;
    top: 50%;
    background-color: #fff;
    transform-origin: 100%;
}

.clock .hour-hand {
    height: 8px;
}

.clock .minute-hand{
    height: 6px;
}

.clock .second-hand{
    height: 2px;
}


@media screen and (max-width: 400px){
    .clock {
        width: 20rem;
        height: 20rem;
        border: 10px solid white;
    }
    .container {
        flex-direction: column;
    }
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 25px;
    }
    .dateAndTimeDisplay {
        width: 100%;
        height: 100%;
        text-align: center;
        
    }
}

